.form-register div:first-child {
  margin-top: 67px;
}

.form-register input {
  margin-bottom: 18px;
  font-size: 12px;
}

span {
  color: #e0e0e0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  padding-right: 17px;
  width: 137px;
}

span {
  margin-top: 18px;
}

.form-register button {
  width: 356px;
  margin-top: 38px;
}

.warning-register {
  width: 100%;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #e9b425;
  align-items: center;
  justify-content: center;
}

.warning-register a {
  color: #e0e0e0;
  text-decoration: underline;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.input-select {
  padding-right: 20px;
}

.container-register {
  margin-top: -49px;
}

.container-register {
  transform: scale(0.8);
}

@media screen and (max-width: 420px) {
  .main-register {
    transform: scale(0.68);
  }
}
