.dashboard {
  background-color: rgba(255, 255, 255, 0.95);
  background-image: url("../../assets/img/LogoBackgorund.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.box-time,
.task-time {
  width: 85px;
  min-height: 75px;
  background-color: #fff;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000;
  position: relative;
}

.box-time {
  position: absolute;
  top: 271px;
  left: 24px;
}

.tasks-area {
  max-width: 1850px;
  height: 730px;
  margin-left: 24px;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  padding-bottom: 30px;
}

::-webkit-scrollbar {
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  width: 16px;
}

::-webkit-scrollbar-track {
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 24px;
  background-color: #dcdfe3;
  border-radius: 8px;
}

.tasks-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container-tasks {
  display: block;
}

.lasted-repeat {
  display: inline-block;
}

.repeat-task-disp {
  display: inline-block;
}

.repeat-task {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content-task {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.color-tag {
  position: absolute;
  top: 0;
  left: 0;
  height: 85px;
  width: 14px;
  border-radius: [object Object]px;
  background: #ff8000;
  border-radius: 15px 0px 0px 15px;
  z-index: 500;
}

article {
  height: 85px;
  width: 512px;
  border-radius: 15px;
  background: linear-gradient(
    112.83deg,
    rgba(228, 240, 248, 0.42) 0%,
    rgba(255, 255, 255, 0.336) 110.84%
  );
  border: 1px solid #ffffff;
  box-shadow: 8px 8px 5.5px rgba(0, 0, 0, 0.03);
  margin-left: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  position: relative;
  margin-bottom: 2px;
}

.title-task {
  width: 440px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #333333;
}

.delete-task {
  position: absolute;
  top: 6px;
  right: 7px;
  height: 25px;
  width: 57px;
  background-color: #ff3d1f;
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
  border: none;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-title {
  position: absolute;
  left: 46%;
  top: 42%;
}

.loading-icon-dashboard {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 35%;
  animation: spin 1s linear infinite;
}

.no-tasks {
  color: #000;
  position: absolute;
  left: 45%;
  top: 32%;
  font-size: 22px;
  text-align: center;
  width: 300px;
}

.teste {
  display: block;
}

.line {
  position: absolute;
  top: 38px;
  left: -7px;
  z-index: 800;
  width: 529px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.7);
}

.ball {
  position: absolute;
  top: 28px;
  left: 84px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 700;
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1760px) {
}
